html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label, legend,
footer, header, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
	font-family: 'Arimo', sans-serif; 
	line-height: 1;
}
header {
  padding: 20px;
}
header h1 {
  font-size: 36px;
	font-family: 'Fascinate', cursive;
	text-align: center;
}
main {
  max-width: 1000px;
  margin: auto;
}
/* Sort by Form */
.search-form {
	text-align: center;
}
label {
	font-size: 16px;
}

/* Select */
.select {
	position: relative;
	display: inline-block;
	width: 200px;
	margin-bottom: 15px;
}
.select select {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: white;
	font-size: 16px;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: #ef0715;
	appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select select::-ms-expand {
	display: none;
}
.select select:hover,
.select select:focus {
	background: #f53b47;
}
.select select:disabled {
	pointer-events: none;
	opacity: .5;
}
.select__arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
	border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
}

/* Movie Listings */

.movie-frame {
	border: 1px solid grey;
	padding: 5px;
}
.thumbnail {
	width: 128px;
}
.title {

}
.runtime {

}
.rating {

}