html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
fieldset, form, label, legend,
footer, header, menu, nav, section, summary
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
	font-family: 'Arimo', sans-serif; 
	line-height: 1;
	padding: 16px 6px;
	color: #191919;
}
header {
  padding: 20px;
}
header h1 {
  font-size: 48px;
	font-family: 'Fascinate', cursive;
	text-align: center;
}
header h2 {
	text-align: center;
	font-size: 18px;
	margin-top: 5px;
}
main {
  max-width: 1000px;
  margin: auto;
}
a {
	text-decoration: none;
	color: black;
}
/* Sort by Form */
.search-form {
	text-align: center;
}
label {
	font-size: 16px;
}
button {
	padding: 9px;
}

button, .select select {
	background: #ef0715;
	font-size: 16px;	
}

button {
  padding: 9px;
  color: white;
  cursor: pointer;
	box-shadow: none;
  border-style: solid;	
}
button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select select:hover,
.select select:focus,
button:hover,
button:focus {
	background: #f53b47;
}
/* Select */
.select {
	position: relative;
	display: inline-block;
	width: 167px;
	margin-bottom: 15px;
}
.select select {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	color: white;
	border: 0;
	border-radius: 0;
	outline: 0;
	appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select select::-ms-expand {
	display: none;
}
.select select:disabled {
	pointer-events: none;
	opacity: .5;
}
.select__arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
	border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
}

/* Waiting animation */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Movie Listings */

.movie-frame {
	padding: 5px;
	border-radius: 3px;
	margin: 9px auto;
	max-width: 141px;
}
.thumbnail {
	width: 128px;
}
.title {
	font-weight: bold;
	padding-bottom: 6px;
}
.movie-frame, #detail-frame {
	border: 1px solid #828282;
}

/* Detail Screen */

#detail-frame {
	margin: auto;
	padding: 15px;
	max-width: 456px;	
}
.detail-title {
	margin: 20px 0 10px;
	font-size: 26px;	
}
.detail-released {
	margin: 5px 0;
	font-size: 16px;
}
.detail-synopsis {
	margin: 12px 0;
	font-size: 17px;
}
#detail-frame img {
	display: block;
	margin: auto;
}

/* Responsive Styles */

@media only screen and (max-width: 375px) {
    #detail-frame img {
      max-width: 227px;
		}
		header h1 {
			font-size: 36px;
		}
		header {
			padding: 0 0 10px;
		}
}
@media only screen and (max-width: 411px) {
	.detail-title {
		font-size: 20px;
	}
	.detail-synopsis {
		font-size: 14px;
	}
}

/* Flex box */
.col-12 {
	width: 100%;
}
.col-2 {
	width: 100%;
}
@media only screen and (min-width: 375px) {
  /* 3 columns, 3/12 in % */  
  .col-2 {
    width: 50%;
  }
}
@media only screen and (min-width: 510px) {
  /* 3 columns, 3/12 in % */  
  .col-2 {
    width: 33.33%;
  }
}
@media only screen and (min-width: 670px) {
  /* 3 columns, 3/12 in % */  
  .col-2 {
    width: 25%;
  }
}
@media only screen and (min-width: 990px) {
	.col-2 {
		width: 16.66%;
	}
}
#flex-container {
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}